*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html{
  scroll-behavior: smooth;
}

.container{
  max-width: 1200px;
  overflow: hidden;
}


.menu-link{
  color: black;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-right: 30px;
}


.menu-link:hover{
  color: #808080;
  text-decoration: underline;
  transition: 0.3s;
}

/* main part */

.main__info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-top: 20%;
}

.main__info h3{
  font-family: 'Poppins', sans-serif;;
  font-weight: 900;
  font-size: 72px;
  margin-right: 60px;
  color: black;
}

.main__divider{
  background-color: #e5e7eb;
  width: 2px;
  height: 180px;
}

.main__item{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-right: 20px;
}
.main__list{
  font-size: 24px;
  color: #374151;
  line-height: 32px;
  padding:10px;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons__btn-work{
  padding: 20px 30px;
  background-color: #75c9b7;
  color: white;
  border: none;
  border-radius: 5px;
}


.buttons__btn-work a{
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 16px;
  text-decoration: none;
}

.buttons__btn-work a:hover{
  color: white;
  text-decoration: underline;
}

.buttons__btn-resume{
  background-color: black;
  padding: 20px 30px;
  color: white;
  border: none;
  border-radius: 5px;
}

.buttons__btn-resume a{
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 16px;
  text-decoration: none;
}

.buttons__btn-resume a:hover{
  text-decoration: underline;
}


/* Portfolio */
.portfolio{
  margin-top: 200px;
}

.h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 60px;
  color: black;
}


.project img{
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.work-projects{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.description{
  display: flex;
  justify-content: space-between;
}

.description p{
  margin-top: 20px;
}

.description a{
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

.comp{
  margin-right: 51px;
}

.description a:hover{
  color: #808080;
  cursor: pointer;
}

.technologies{
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.portfolio-buttons{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.portfolio-buttons a{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.portfolio-buttons a:hover{
  color: #75c9b7;
}


/* About */
.about{
  margin-top: 100px;
}

.about-me{
  display: flex;
  margin-top: 50px;
}

.my-photo img{
  border: 3px solid black;
  margin-right: 50px;
  border-radius: 5px;
}

.me-text p{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: 40px;
}

.me-text span{
  color:#000027;
  font-weight: 800;
}

.h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.me-text ol{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.me-text ol li{
  padding: 10px;
}

.accordion-item{
  border: none;
}

.accordion-button{
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
.accordion-button:not(.collapsed) {
  background-color: #f4f4f4;
}

.accordion-button:focus {
  box-shadow: none !important;
}

/* Contact */

.contact{
  margin-top: 150px;
}

.contact-row{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.col{
  font-family: 'Poppins', sans-serif;
  background-color: #16123f;
  padding: 20px;
  width: 250px;
  float: left;
  text-align: center;
  border-radius: 5px;
}

.title{
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle{
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.contact-btn, .col-a{
  margin-top: 20px;
  text-decoration: none;
  outline: none;
  border: none;
  background: transparent;
  font-size: 13px;
  color: white;
}

.col img{
  color: white;
  margin-bottom: 10px;
}

/* decoration */

.decoration{
  display: flex;
  align-items: center;
}

.lines{
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-right: 10px;
}

.line1{
  width: 50px;
  height: 20px;
  border-radius: 5px;
  background-color:  #ffe26a;
}

.line2{
  width: 100px;
  height: 20px;
  border-radius: 5px;
  background-color: #dadada;
}



@media all and (max-width: 900px){
  .main__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main__info h3{
    font-size: 70px;
  }

  .main__divider{
    display: none;
  }

  .buttons{
    flex-direction: row;
  }

  .h2{
    text-align: center;
  }

  .work-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project img{
    width: 600px;
    height: 300px;
    object-fit: cover;
  }

  .about-me{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .my-photo img{
    display: none;
  }

  .contact-row{
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
  }

  .col{
    width: 600px;
  }

  .title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
  }
  
  .subtitle{
    font-size: 25px;
    font-weight: 700;
  }
  
  .contact-btn, .col-a{
    font-size: 15px;
  }

  .comp{
    margin-right: 0;
  }

  .decoration{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media all and (max-width: 400px){
  .main__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main__info h3{
    font-size: 50px;
  }

  .main__divider{
    display: none;
  }

  .buttons{
    flex-direction: row;
  }

  .project img{
    width: 350px;
    height: 200px;
    object-fit: cover;
  }

  .col{
    width: 300px;
  }

  .title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
  }
  
  .subtitle{
    font-size: 20px;
    font-weight: 700;
  }
  
  .contact-btn, .col-a{
    font-size: 15px;
  }

  .h2{
    font-size: 50px;
  }
}


